/*!
 *  Mytube for youtube by @thegayen - https://github.com/Codegayen/Mytube-for-YouTube/ - @fontawesome
 *  License - https://github.com/Codegayen/Mytube-for-YouTube/license ( CSS: MIT License)
 */


#button.ytd-menu-renderer yt-icon.ytd-menu-renderer{
  background-image: url(chrome-extension://__MSG_@@extension_id__/svg/heart.svg)!important;
}

/* Hide by Element */
ytd-promoted-video-renderer,
ytd-movie-offer-module-renderer,
ytd-promoted-sparkles-web-renderer,
ytd-promoted-sparkles-text-search-renderer,
ytd-player-legacy-desktop-watch-ads-renderer {
  display: none !important;
  visibility: hidden !important;
}

/* Hide by ID */
#player-ads,
#search-pva,
#premium-yva,
#masthead-ad,
#feedmodule-PRO,
#video-masthead,
#watch-buy-urls,
#sub-frame-error,
#main-frame-error,
#watch7-sidebar-ads,
#feed-pyv-container,
#shelf-pyv-container,
#watch-branded-actions,
#watch-channel-brand-div,
#homepage-chrome-side-promo,
#watch-channel-brand-div-text {
  display: none !important;
  visibility: hidden !important;
}

/* Hide by Class */

.iv-promo,
.video-ads,
.promoted-videos,
.ytp-ad-progress,
.ytp-ad-progress-list,
.searchView.list-view,
.html5-ad-progress-list,
.watch-extra-info-right,
.watch-extra-info-column,
.lohp-pyv-shelf-container,
.ytd-merch-shelf-renderer,
.carousel-offer-url-container,
.youtubeSuperLeaderBoardAdHolder,
.youtubeSuperLeaderOverallAdArea,
.ytd-movie-offer-module-renderer,
.ytd-action-companion-ad-renderer {
  display: none !important;
  visibility: hidden !important;
}

/* Hide by Rule */

iframe[id^=ad_],
div[class*="-ad-v"],
div[class*="-ads-"],
a[href*="/adwords/"],
a[href*="doubleclick.net"],
iframe[src*="doubleclick.net"],
a[href^="http://www.youtube.com/cthru?"],
a[href^="https://www.youtube.com/cthru?"],
a[onclick*="\"ping_url\":\"http://www.google.com/aclk?"] {
  display: none !important;
  visibility: hidden !important;
}

.badge-style-type-ad,
.GoogleActiveViewElement,
.sparkles-light-cta,
.ytd-compact-promoted-video-renderer,
.ytd-companion-slot-renderer,
.ytd-player-legacy-desktop-watch-ads-renderer,
.ytd-promoted-sparkles-text-search-renderer,
.ytd-video-masthead-ad-v3-renderer,
.ytp-ad-progress-list,
[layout*="display-ad-"],
#masthead-ad,
#merch-shelf,
#player-ads,
#show-ad,
#YtKevlarVisibilityIdentifier,
a[href^="https://www.googleadservices.com/pagead/aclk?"],
ytd-compact-promoted-video-renderer,
ytd-companion-slot-renderer,
ytd-display-ad-renderer,
ytd-promoted-sparkles-text-search-renderer,
ytd-promoted-sparkles-web-renderer,
ytd-video-masthead-ad-advertiser-info-renderer,
ytd-video-masthead-ad-v3-renderer,
ytm-promoted-sparkles-web-renderer {
  display: none !important;
}

